<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2022 - Photo
                            by <a href="https://unsplash.com/@house_42?utm_source=unsplash&utm_medium=referral&utm
                            _content=creditCopyText">Taylor Brandon</a> on <a href="https://unsplash.com/@jared_glenn
                            /likes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -
                            Photo by <a href="https://unsplash.com/@chriscurry92?utm_source=unsplash&utm_medium=refer
                            ral&utm_content=creditCopyText">Chris Curry</a> on <a href="https://unsplash.com/@jare
                            _glenn/likes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Un
                                splash</a> - Photo by <a href="https://unsplash.com/@priscilladupreez?utm_source
                                =unsplash&utm_medium=referral&utm_content=creditCopyText">Priscilla Du Preez</a> on
                            <a href="https://unsplash.com/@jared_glenn/likes?utm_source=unsplash&utm_medium=referr
                            al&utm_content=creditCopyText">Unsplash</a> -Photo by <a href="https://unsplash.com/@ar
                            t_maltsev?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Artem Ma
                                ltsev</a> on <a href="https://unsplash.com/@jared_glenn/likes?utm_source=unsplash&
                                utm_medium=referral&utm_content=creditCopyText">Unsplash</a>



  </div>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>